@model FruitKhaShop.Models.CategoryModel

@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("Create", "CategoryModelsAdmin", FormMethod.Post, new { @class = "forms-sample" }))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-center">Create New Product Category</h2>

                <div class="form-group">
                    <label asp-for="CategoryName">Product Category Name</label>
                    <input asp-for="CategoryName" class="form-control" placeholder="Name" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-gradient-primary me-2">Create</button>
                <a href="@Url.Action("Index", "CategoryModelsAdmin")" class="btn btn-light">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
